<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseConection" connectionString="Data Source = DESKTOP-N9NCQV1\SQLEXPRESS; database =BCM;Trusted_Connection=true" />
        <add name="conexionDB" connectionString="Data Source = DESKTOP-871AGIQ\SQLEXPRESS; database =BCM;Trusted_Connection=true" />
        <add name="MemoryClubForms.Properties.Settings.DataBaseConection"
            connectionString="Data Source = DESKTOP-N9NCQV1\SQLEXPRESS; database =BCM;Trusted_Connection=true" />
        <add name="MemoryClubForms.Properties.Settings.conexionDB" connectionString="Data Source = DESKTOP-871AGIQ\SQLEXPRESS; database =BCM;Trusted_Connection=true" />
        <add name="DBProd" connectionString="Data Source=SQL5104.site4now.net;Initial Catalog=db_a8ce0a_bcm;Persist Security Info=True;User ID=db_a8ce0a_bcm_admin;Password=Club2022"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>